.swiper-slide h2 {
  text-shadow:3px 3px 0px rgba(0,0,0,0.6);
}

.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide  {
  @media (max-width:690px ) {
    .content h2 {
      font-size: 2rem !important;
      // line-height:1.4;
    }
    .button a {
      font-size: 1.2rem !important;
      padding:0.4em 0.6em;
    }
  } // max-width : 690px
}
