h1  {
  font-size:57px;
  line-height: 1.2;
  margin-top:.3em;
  margin-bottom:.5em;
  letter-spacing: 0.5px;
  @media (max-width:690px) {
    font-size:45px;
  }
}

h2, .row .col h2  {
  margin:.3em 0 .5em;  
  font-size:45px;
  line-height:1.3;
  @media (max-width:690px) {
    font-size:36px;
  }
}

h3, .row .col h3  {
  font-size:30px;
  margin-bottom:.7em;
}

blockquote {
  font-family: Garamond, serif;
  margin:.3em 0 .7em;
  font-size:32px;
  line-height:1.4;
  font-weight:700;
  // font-style: italic;
}

hr {
  border-top-color: #888;
  border-left-style: none;
  border-right-style: none;  
}


// body.vccf-theme.design-guidelines
&.design-guidelines {
  .vc_row.full-width-section {
    a {
      color:white;
      text-shadow:3px 3px 0px rgba(0,0,0,0.6);  
      &:hover, &:active, &:focus     {
        color:$red;
      }
    }
  }
}

// Responsive Slider typography
@media only screen and (max-width: 690px) {
  .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide {
    .content {
      h2 {
        font-size:24px !important;
        line-height:1.2 !important;
      }
      p,span {
        font-size:14px !important;
        line-height:1.8 !important;
      } 
    }
    .button a {
      font-size:14px !important;
      line-height:1.5;
    }
  }
}
@media only screen and (max-width: 1000px) and (min-width: 690px) {
  .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide {
   .content {
      p,span {
        font-size:16px !important;
        line-height:1.9 !important;
      } 
    }
    .button a {
      font-size:14px !important;
    }

  }
}

.events-and-lectures-more-link {
  margin-top:.7em;
}