@mixin Bg($color:$tan) {
  background: $color url('../images/specks.png') repeat center; background-size: (1239px/1.5) (476px/1.5);
  // background: $color url('../images/stucco-darken.png') repeat;
  // background-size:500px;
  background-color:$color;
}

$default-transition:.4s ease;

body:not(.home) .main-content {
  padding-top:40px;
}

.divider-border {
  border-bottom-color: darken( $tan, 15%);
}
