.container-wrap {
  @include Bg($tan);
}

// Don't pad the top of the home slider
&.home .vc_row:first-child {
  padding-top:0px !important;
  padding-bottom:0px !important;
  margin-bottom:10px !important;
}

.vc_row {

  &[data-midnight="dark"]{
    .col.section-title {
      border-bottom-color: darken( $tan, 15%);
    }  
  }
  &[data-midnight="light"]{
    .col.section-title {
      border-bottom-color: white;
    }  
  }
}

.wpb_row {
  @media (max-width:690px ) {
    padding-top:0 !important;
    padding-bottom:0 !important;
  }
}