header#top {
  #logo {
    transition: font-size $default-transition;
    font-family:Garamond, serif;
    margin-top:0 !important;
    margin-bottom: 28px;
    font-weight: 400;
    font-size:2rem;
    @media (max-width:480px) {
      max-width:80%;
      font-size:1.5rem;
    }
  }

  nav > ul > li {
    transition:background-color $default-transition;

    &.current-menu-item {
      > a {
        border-bottom-color:white;        
      }      
    }

    > a {
      transition: border-color $default-transition;
      font-size:14px;
      text-transform: uppercase;
      letter-spacing: .5px;

      border-bottom:3px solid $red;
      &:hover {
        border-bottom-color:white;
      }
    }

    &.menu-donate {
      margin-top:-6px;
      > a {
        transition:all $default-transition;
        background:white;
        border-radius:20px;
        color:$red !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border:1px solid white;
        &:hover {
          color:white !important;
          background-color:transparent !important;
        }
      }
    }
  }

}

#header-outer header#top nav > ul > li.menu-donate.current-menu-item.current_page_item > a {
  color:$red !important;
  &:hover {
    color:white !important;
    background-color:transparent !important;
  }
}


#header-outer.small-nav {
  #logo {
    margin-bottom: 16px;
    font-size:1.7rem;
  }
  nav > ul > li.menu-donate > a{
    margin-top:2px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;    
  }
  // hamburger
  .lines, .lines-button {
    &:before, &:after {
      background:white;
    }
  }

}




#header-outer {
  @include Bg($red);
  // position:relative;
  @media (min-width:480px) {
    &:before {
      content:'';
      position:absolute;
      height:calc(100% - #{1px});
      height:100%;
      width:40px;
      background:$red-dark;
      left:0;
      top:0;
    }
  }
  // border-left:15px solid $teal;
}

#page-header-wrap {
  .inner-wrap {
    h1 {
      text-shadow:3px 3px 0px rgba(0,0,0,0.6);
      margin-bottom:.5em;
      font-size:60px;
    }
    .subheader {
      background:rgba(black,.6);
      @media (max-width:690px ) {
        display: inline-block;
        font-size: 13px !important;
        line-height:1.4;
        padding:.3em .5em;
      }
    }
  }
}



