body.vccf-theme {
  @import 'colors';
  @import 'global';
  @import 'type';
  @import 'grid';

  @import 'header';
  @import 'masonry';

  @import '_swiper-slide.scss';

  .nectar-button.large {
    font-size: 20px;
    padding:1.1em 1.5em;
  }

  #ic_signupform .elcontainer {
    margin:0;
    border:0;
    background: transparent;
    .formEl {
      right:0;      
    }
    .formEl.fieldtype-input label {
      color:white;
    }
    .submit-container input[type="submit"] {
      font-size: 1.3rem;
    }
  }

}