body.vccf-theme body:not(.home) .main-content {
  padding-top: 40px; }

body.vccf-theme .divider-border {
  border-bottom-color: #d2c7b2; }

body.vccf-theme h1 {
  font-size: 57px;
  line-height: 1.2;
  margin-top: .3em;
  margin-bottom: .5em;
  letter-spacing: 0.5px; }
  @media (max-width: 690px) {
    body.vccf-theme h1 {
      font-size: 45px; } }

body.vccf-theme h2, body.vccf-theme .row .col h2 {
  margin: .3em 0 .5em;
  font-size: 45px;
  line-height: 1.3; }
  @media (max-width: 690px) {
    body.vccf-theme h2, body.vccf-theme .row .col h2 {
      font-size: 36px; } }

body.vccf-theme h3, body.vccf-theme .row .col h3 {
  font-size: 30px;
  margin-bottom: .7em; }

body.vccf-theme blockquote {
  font-family: Garamond, serif;
  margin: .3em 0 .7em;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700; }

body.vccf-theme hr {
  border-top-color: #888;
  border-left-style: none;
  border-right-style: none; }

body.vccf-theme.design-guidelines .vc_row.full-width-section a {
  color: white;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6); }
  body.vccf-theme.design-guidelines .vc_row.full-width-section a:hover, body.vccf-theme.design-guidelines .vc_row.full-width-section a:active, body.vccf-theme.design-guidelines .vc_row.full-width-section a:focus {
    color: #9e3e33; }

@media only screen and (max-width: 690px) {
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2 {
    font-size: 24px !important;
    line-height: 1.2 !important; }
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p, body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content span {
    font-size: 14px !important;
    line-height: 1.8 !important; }
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .button a {
    font-size: 14px !important;
    line-height: 1.5; } }

@media only screen and (max-width: 1000px) and (min-width: 690px) {
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p, body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content span {
    font-size: 16px !important;
    line-height: 1.9 !important; }
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .button a {
    font-size: 14px !important; } }

body.vccf-theme .events-and-lectures-more-link {
  margin-top: .7em; }

body.vccf-theme .container-wrap {
  background: #eeeae2 url("../images/specks.png") repeat center;
  background-size: 826px 317.333333333px;
  background-color: #eeeae2; }

body.vccf-theme.home .vc_row:first-child {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 10px !important; }

body.vccf-theme .vc_row[data-midnight="dark"] .col.section-title {
  border-bottom-color: #d2c7b2; }

body.vccf-theme .vc_row[data-midnight="light"] .col.section-title {
  border-bottom-color: white; }

@media (max-width: 690px) {
  body.vccf-theme .wpb_row {
    padding-top: 0 !important;
    padding-bottom: 0 !important; } }

body.vccf-theme header#top #logo {
  -webkit-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
  font-family: Garamond, serif;
  margin-top: 0 !important;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 2rem; }
  @media (max-width: 480px) {
    body.vccf-theme header#top #logo {
      max-width: 80%;
      font-size: 1.5rem; } }

body.vccf-theme header#top nav > ul > li {
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }
  body.vccf-theme header#top nav > ul > li.current-menu-item > a {
    border-bottom-color: white; }
  body.vccf-theme header#top nav > ul > li > a {
    -webkit-transition: border-color 0.4s ease;
    transition: border-color 0.4s ease;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-bottom: 3px solid #9e3e33; }
    body.vccf-theme header#top nav > ul > li > a:hover {
      border-bottom-color: white; }
  body.vccf-theme header#top nav > ul > li.menu-donate {
    margin-top: -6px; }
    body.vccf-theme header#top nav > ul > li.menu-donate > a {
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      background: white;
      border-radius: 20px;
      color: #9e3e33 !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      border: 1px solid white; }
      body.vccf-theme header#top nav > ul > li.menu-donate > a:hover {
        color: white !important;
        background-color: transparent !important; }

body.vccf-theme #header-outer header#top nav > ul > li.menu-donate.current-menu-item.current_page_item > a {
  color: #9e3e33 !important; }
  body.vccf-theme #header-outer header#top nav > ul > li.menu-donate.current-menu-item.current_page_item > a:hover {
    color: white !important;
    background-color: transparent !important; }

body.vccf-theme #header-outer.small-nav #logo {
  margin-bottom: 16px;
  font-size: 1.7rem; }

body.vccf-theme #header-outer.small-nav nav > ul > li.menu-donate > a {
  margin-top: 2px;
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

body.vccf-theme #header-outer.small-nav .lines:before, body.vccf-theme #header-outer.small-nav .lines:after, body.vccf-theme #header-outer.small-nav .lines-button:before, body.vccf-theme #header-outer.small-nav .lines-button:after {
  background: white; }

body.vccf-theme #header-outer {
  background: #9e3e33 url("../images/specks.png") repeat center;
  background-size: 826px 317.333333333px;
  background-color: #9e3e33; }
  @media (min-width: 480px) {
    body.vccf-theme #header-outer:before {
      content: '';
      position: absolute;
      height: calc(100% - 1px);
      height: 100%;
      width: 40px;
      background: #752424;
      left: 0;
      top: 0; } }

body.vccf-theme #page-header-wrap .inner-wrap h1 {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: .5em;
  font-size: 60px; }

body.vccf-theme #page-header-wrap .inner-wrap .subheader {
  background: rgba(0, 0, 0, 0.6); }
  @media (max-width: 690px) {
    body.vccf-theme #page-header-wrap .inner-wrap .subheader {
      display: inline-block;
      font-size: 13px !important;
      line-height: 1.4;
      padding: .3em .5em; } }

@media (min-width: 1001px) {
  body.vccf-theme.home .masonry.classic_enhanced .masonry-blog-item {
    width: 23.5%; } }

body.vccf-theme.home .masonry.classic_enhanced .masonry-blog-item .article-content-wrap {
  padding: 12% 6% !important; }

body.vccf-theme .swiper-slide h2 {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6); }

@media (max-width: 690px) {
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2 {
    font-size: 2rem !important; }
  body.vccf-theme .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .button a {
    font-size: 1.2rem !important;
    padding: 0.4em 0.6em; } }

body.vccf-theme .nectar-button.large {
  font-size: 20px;
  padding: 1.1em 1.5em; }

body.vccf-theme #ic_signupform .elcontainer {
  margin: 0;
  border: 0;
  background: transparent; }
  body.vccf-theme #ic_signupform .elcontainer .formEl {
    right: 0; }
  body.vccf-theme #ic_signupform .elcontainer .formEl.fieldtype-input label {
    color: white; }
  body.vccf-theme #ic_signupform .elcontainer .submit-container input[type="submit"] {
    font-size: 1.3rem; }
